# Keil5 编译产物
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.obj
*.omf
*.plg
*.tmp
*.uv2
*.uv2.bak
*.uvopt
*.uvproj.bak
*.hex
*.bin
*.o
*.htm
*.axf
*.d
*.crf
*.map
*.dep
*.iex
# 临时文件和日志
*.log
*.tmp
*.swp
*.swo
# vscode配置文件
.vscode/
# jlink log文件
**/JLinkLog.txt
**/JLinkSettings.ini